@model WebAdvert_Web.Models.Home.IndexViewModel
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration

@{ var advertImageUrl = configuration.GetValue<string>("ImageBaseUrl"); }

<div class="row">
    <div class="col-md-7">
        <h5 class="alert alert-info">
            Advertisement Details
        </h5>
        <div class="border-dark rounded" id="advertDetailBox">
            <div style="text-align:center;">
                @{ var defaultImageUrl = "https://camblycontent.files.wordpress.com/2017/02/advertising-word-block.jpg";
                    var imageUrl = string.IsNullOrEmpty(Model.FilePath) ? defaultImageUrl :
                        $"{advertImageUrl}/{Model.FilePath}"; }
                <img src="@imageUrl" id="detailImage" style="width:100%" />
            </div>
            <h4 id="detailTitle">@Model.Title</h4>
            <p id="detailDesc">@Model.Description.</p>
            <p id="detailPrice">Price: $@Model.Price</p>
        </div>       
    </div>
</div>